/* Resetowanie marginesów i paddingów */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ustawienie minimalnego marginesu dla body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  display: block;
}

/* Dodanie przestrzeni wokół głównych nagłówków */
h2, h3 {
  margin-top: 20px;
}
